<div class="containerBx">
    <div class="row filterBx">
        <div class="col-md-3 filter borderRight marFirst">
            <p class="filterTitle">instruments</p>
            <div class="btn-group dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nifty
                </button>
              </div>
        </div>
        <div class="col-md-3 filter borderRight">
            <p class="filterTitle">Duration</p>
            <div class="btn-group dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hourly
                </button>
              </div>
        </div>
        <div class="col-md-3 filter borderRight">
            <p class="filterTitle">Date</p>
            <div class="btn-group dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  9/2/2023
                </button>
              </div>
        </div>
        <div class="col-md-3 filter btnFilter marLast">
            <button>Submit</button>
        </div>
    </div>

    <div class="row chartBx">
      <div class="col-md-8 chart">
        <div class="tradingview-widget-container">
          <div id="tradingview_bac65">
      
          </div>
          <div class="tradingview-widget-copyright">
              <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank">
                  <span class="blue-text">AAPL Chart</span>
              </a> by TradingView
          </div>
      </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
</div>
