<div class="containerBx">
    <div class="row filterBx">
        <div class="col-md-3 filter borderRight marFirst">
            <p class="filterTitle">instruments</p>
            <div class="btn-group dropdown">
              <select class="form-select" style="background-color: white;color: black;" aria-label="select example" #instru (change)="onSelectedInstrument(instru.value)">
                <option style="background-color: white;color: black;" *ngFor="let item of instrumentArr" value="{{item.symbol}}">{{item.symbol}}</option>
              </select>
              </div>
        </div>
        <div class="col-md-3 filter borderRight">
            <p class="filterTitle">Duration</p>
            <div class="btn-group dropdown">
              <select class="form-select" style="background-color: white;color: black;" aria-label="select example" #dura (change)="onSelectedDuration(dura.value)">
                <option style="background-color: white;color: black;" *ngFor="let item of intervalArr" value="{{item.value}}">{{item.title}}</option>
              </select>
            </div>
        </div>
        <div class="col-md-3 filter borderRight">
            <p class="filterTitle">Bar's Style</p>
            <div class="btn-group dropdown">
              <select class="form-select" style="background-color: white;color: black;" aria-label="select example" #bar (change)="onSelectedBar(bar.value)">
                <option style="background-color: white;color: black;" *ngFor="let item of barArr" value="{{item.value}}">{{item.title}}</option>
              </select>
              </div>
        </div>
        <div class="col-md-3 filter btnFilter marLast">
            <button (click)="submitOptions()">Submit</button>
        </div>
    </div>

    <div class="row chartBx">
      <div class="col-md-8 chart">
        <div class="tradingview-widget-container">
          <div id="tradingview_bac65">
      
          </div>
          <div class="tradingview-widget-copyright">
              <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank">
                  <span class="blue-text">AAPL Chart</span>
              </a> by TradingView
          </div>
      </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
</div>
