<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p2 me-3 text-light" (click)="SidenavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <div class="head">
       <h3 class="titleBx">ChiSats</h3>
       <div class="titleDesc">
            <div class="date">
                <h3>Tuesday</h3>
                <p>February 9th, 2023</p>
            </div>
            <div class="info">
                
            </div>
       </div>
    </div>
    
</nav>
