<h1>Advanced Real-Time Chart Widget</h1>
<div class="tradingview-widget-container">
    <div id="tradingview_bac65">

    </div>
    <div class="tradingview-widget-copyright">
        <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank">
            <span class="blue-text">AAPL Chart</span>
        </a> by TradingView
    </div>
</div>

<!-- <h1>Technical Analysis Widget</h1>
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget">

    </div>
    <div class="tradingview-widget-copyright">
        <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank">
            <span class="blue-text">AAPL stock analysis</span>
        </a> by TradingView
    </div>
</div> -->


<h1>Market Overview Widget</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget">

    </div>
    <div class="tradingview-widget-copyright">
        <a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank">
            <span class="blue-text">World markets</span>
        </a> by TradingView
    </div>
    
  </div>

  <h1>Market Data Widget</h1>
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget">

    </div>
    <div class="tradingview-widget-copyright">
        <a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank">
            <span class="blue-text">Market summary</span>
        </a> by TradingView
    </div>
    
  </div>